---
manager_name: "The Unnamed Manager"
verbose:  false
editor:   "vim -O"
colors:   false

path: "~"
output_path: "."
dirs:
  storage: caterings
  working: working
  archive: archive
  templates: templates

## CAREFUL HERE
project_file_extension: .yml
use_git: true
latex:    pdflatex

defaults:
  tax: 0.19
  lang: de
  canceled: false
  includes:
    logopath:
    name:
    strasse:
    universitaet:
    fakultaet:
    zusatz:
    retouradresse:
    ort:
    land:
    telefon:
    telefax:
    telex:
    http:
    email:
    bank:
    blz:
    iban:
    bic:
    konto:
    steuernummer:

  messages:
    de:
      offer: 
        - Angebot
        - "hiermit möchten wir Ihnen für die gastronomische Betreuung Ihrer Veranstaltung am <%= @data[:event][:prettydate] %> folgendes Angebot unterbreiten:"
        - ""
      invoice: 
        - Rechnung
        - "wir bedanken uns für Ihren Auftrag für das Catering am <%= @data[:event][:prettydate] %> und erlauben uns ihnen folgende Rechnung zu stellen:"
        - "Wir bitten um eine Begleichung des Betrags innerhalb von 14 Tagen nach Erhalt der Rechnung."
      signature: Mit freundlichen Grüßen

currency_symbol: €

gender_matches:
  herr: male
  frau: female
  professor: male
  professorin: female

lang_addressing:
  de:
    male: Sehr geehrter
    female: Sehr geehrte
  en:
    male: Dear
    female: Dear
...
